@import 'tailwindcss';

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 68px;
  }

  body {
    @apply antialiased text-slate-900 bg-white;
    font-family:
      'Inter',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      sans-serif;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .clip-path-slant {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }

  /* Animations */
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
    opacity: 0; /* Start invisible */
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-600;
}

@keyframes gentlePulse {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.25);
  }
}

.animate-gentlePulse {
  animation: gentlePulse 2s ease-in-out infinite;
}
